<div>
        <button ng-model="" (click)="showInsuranceType('motor')">BUY MOTOR INSURANCE</button>
        <button ng-model="" (click)="showInsuranceType('travel')">BUY TRAVEL INSURANCE</button>
    </div>
    <div class="login-box">
        <h2>{{ displayInsuranceHeader }} </h2>
        <form #addMotorInsuranceForm="NgForm" (ngSubmit)="onAddMotorInsurance(addMotorInsuranceForm)">
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Vehicle Number</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Identity No</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Email</label>
          </div>
          <a href="#">
            purchase
          </a>
        </form>
</div>